* {
    box-sizing: border-box;
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 14px;
    
    text-transform: uppercase;
}

a {
    text-decoration: none; /* Убрать подчёркивание */
}

ul, ol {
    list-style-type: none; /* Убрать маркеры спика */
    padding: 0;
}

.menu__icon {
    display: none;
}

.menu__icon a {
    font-size: 1.5em;
}

/****************************************************
                      HEADER
***************************************************** */

header {
    background-color: #ffffff;

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__content {
    display: flex;
    align-items: center;
    
    font-weight: bold;
}

.logo__img {
    height: 4em;
    margin-right: 1.5em;
}

.logo__content p,
nav li {
    font-size: 1.5em;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 1em;
    font-family: myriad-pro, sans-serif;
}

.about {
    font-weight: bold;
}
/****************************************************
                      MAIN BLOCK
***************************************************** */

.main__block {
    background-color: black;
    
    padding-left: 15%;
    padding-right: 10%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__block h1 {
    color: #fff;
    font-size: 2.8em;
    font-weight: 100;
}

.cat__img {
    max-width: 50%;
    height: auto;
    
    align-self: flex-end;
    
    margin-top: 3em;
}

/****************************************************
                      FOOTER
***************************************************** */
footer {
    background-color: #02222c;
    
    padding-left: 10%;
    padding-right: 10%;
    
    padding-top: 2em;
    padding-bottom: 2em;
    
    text-align: right;
    
}

footer a {
    color: #fff;
    font-family: myriad-pro, sans-serif;
}

/****************************************************
                      АДАПТИВ
***************************************************** */
@media screen and (max-width: 1020px) {
    nav li {
        display: none;
    }
    .menu__icon {
        display: block;
    }
    .main__block h1 {
        font-size: 2.5em;
    }
    header {
        padding-top: .2em;
        padding-bottom: .2em;
    }
    .logo__img {
        height: 3em;
    }
    .logo__content p {
        font-size: 1.3em;
    }
    footer {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 800px) {
    .main__block {
        flex-direction: column;
    }
    .cat__img {
        align-self: center;
        margin-top: 1em;
        
        max-width: 80%;
    }
    .main__block h1 {
        text-align: center;
        margin-top: 2em;
    }
}

@media screen and (max-width: 600px) {
    .main__block h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 500px) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .main__block h1 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 320px) {
    header {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 270px) {
    * {
        font-size: 10px;
    }
}

@media screen and (max-width: 210px) {
    .logo__content p {
        display: none;
    }
    .main__block h1 {
        font-size: 1.5em;
    }
}




